.cropper {
  min-width: 600px;
}

.cropper-default-pic {
  background-size: contain;
  background-image: asset-url("default-avatar.png");
}

.cropper-header > div {
  display: flex;
  background: #333;
}

.cropper-title, .cropper-close {
  font-size: 14px;
  line-height: 16px;
  color: #cccfd3;
  padding: 10px 20px;
}

.cropper-close {
  margin-left: auto;
}

.cropper-message {
  font-size: 18px;
  line-height: 22px;
  background-color: #FFFFFF;
  color: #434649;
  padding: 15px 20px;
}

.cropper-uploader {
  display: flex;
  background: #eee;
  padding: 15px 0;
}

.cropper-uploader .flex-left {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.cropper-uploader .flex-right {
  flex: 1;
}

.cropper-instructions {
  padding: 0 20px 10px;
}

.cropper-instructions h4 {
  font-weight: bold;
  line-height: 16px;
  font-size: 13px;
  color: #666;
  vertical-align: baseline;
}

.cropper-instructions p {
  line-height: 17px;
  font-weight: normal;
  font-size: 11px;
  color: #888;
  vertical-align: baseline;
}

.cropper-instructions p label {
  color: #006fa6;
}

.cropper-container {
  position: relative;
  align-self: center;
}

.cropper-image {
  width: 100%;
  height: 100%;
}

.cropper-panel {
  margin-top: 20px;
  align-self: center;
  align-items: center;
  display: flex;
}

.cropper-sprites {
  background-image: asset-url("sprites.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-origin: content-box;
  overflow: hidden;
  cursor: pointer;
}

.cropper-rotate-left, .cropper-rotate-right {
  height: 20px;
  width: 17px;
}

.cropper-rotate-left:hover {
  background-position: 0 -67px;
}

.cropper-rotate-right {
  background-position: 0 -22px;
}

.cropper-rotate-right:hover {
  background-position: 0 -89px;
}

.cropper-privacy {
  height: 15px;
  width: 25px;
}

.cropper-privacy {
  background-position: 0 -47px;
  margin-left: 10px;
  padding: 5px 0 5px 15px;
  border-left: 1px solid #ddd;
}

.cropper-privacy:hover {
  background-position: 0 -114px;
}

.cropper-privacy:after {
  float: right;
  height: 0;
  width: 0;
  border-style: dashed;
  border-color: transparent;
  border-width: 4px 4px 0;
  border-top-color: #676767;
  border-top-style: solid;
  margin-top: 7px;
  content: '';
}

.cropper-privacy:hover:after {
  border-top-color: #0974B4;
}

.cropper-actions {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #FFFFFF;
  font-family: Helvetica, Arial, sans-serif;
}

.cropper-delete {
  margin-left: auto;
}
