.edit-button {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-image: asset-url("edit-button.png");
}

.profile-pic {
  width: 100px;
  height: 10  0px;
  background-size: contain;
}
