.profile {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  width: 650px;
  margin: auto;
}

.profile-card {
  display: flex;
  padding: 20px 0;
  background-color: #FFFFFF;
}

.profile-card:hover .profile-pic-edit {
  visibility: visible;
}

.profile-overview {
  padding: 0 20px;
}

.profile-card:hover .profile-card-wrapped,
.profile-card:hover .profile-card-edit-box,
.profile-card:hover .fa-pencil {
  background-color: #ebebeb;
  visibility: visible;
}

.profile-card-wrapper {
  display: flex;
  align-items: stretch;
  margin-bottom: 4px;
}

.profile-card-wrapped, .profile-card-edit-button, .fa-pencil {
  transition: background-color 0.2s color 0.2s;
}

.profile-card-wrapped, .profile-card-edit-box {
  background-origin: padding-box;
  vertical-align: middle;
  padding: 2px 5px;
}

.profile-card-name-wrapper .fa-pencil {
  font-size: 20px;
}

.profile-card-headline-wrapper .fa-pencil {
  font-size: 16px;
}

.profile-card-wrapper:hover .profile-card-wrapped {
  background-color: #caecfc;
  color: #00a0dc;
}

.profile-card-name-wrapper:hover .profile-card-name {
  color: inherit;
}

.profile-card-wrapper:hover .profile-card-edit-box,
.profile-card-wrapper:hover .fa-pencil {
  background-color: #00a0dc;
  color: #fff;
}

.fa-pencil {
  text-align: justify;
  color: #505e69;
  visibility: hidden;
}

.fa-pencil:hover {
  color: #fff;
}

.profile-card-name {
  font-size: 28px;
  font-weight: bold;
  color: #000;
}

.profile-card-headline {
  font-size: 18px;
}

.profile-pic-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.profile-pic,
.default-profile-pic {
  height: 100%;
  width: 100%;
}

.default-profile-pic {
  background-size: contain;
  background-image: asset-url("default-avatar.png");
}

.new-avatar-preview {
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.profile-pic2 {
  height: 100px;
  width: 100px;
}

.profile-pic-edit {
  position: absolute;
  width: 100%;
  bottom: 0px;
  margin: 5px;
  font-size: 18px;
  text-align: center;
  visibility: hidden;
}

.profile-card-edit-form {
  padding: 15px;
  margin-top: 0;
  margin-left: 10px;
  border-color: #ededed #c9c9c9 #a4a4a4 #ccc;
  border-style: solid;
  border-width: 1px;
  width: 225px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  outline: 0;
  position: absolute;
  top: -8px;
  visibility: visible;
  z-index: 1;
  font-size: 13px;
  line-height: 17px;
  color: #333;
  font-weight: normal;
  vertical-align: baseline;
}

.profile-card-edit-box {
  position: relative;
  margin-left: 4px;
}

.profile-card-edit-button {
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.profile-card-edit-form-pointer {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  height: 0;
  width: 0;
  border-style: solid;
  border-color: transparent #c9c9c9 transparent transparent;
  border-width: 12px 12px 12px 3px;
  overflow: visible;
  content: "\0020";
  position: absolute;
  display: block;
  background: none;
  top: 10px;
  right: 100%;
}

.profile-card-edit-form-pointer:after {
  content: "\0020";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 1px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  border-color: transparent #fff transparent transparent;
  overflow: visible;
}
